<div class="modal-overlay" id="settingsChatModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">⚙️ Налаштування чату</h2>
            <button class="modal-close" id="closeModelSettingChatBtn">&times;</button>
        </div>

        <div class="modal-body">
            <form id="settingsForm">
                <div class="chat-form-group">
                    <label class="chat-form-label">Користувачі</label>
                    
                    <div class="toggle-option">
                       eeeee
                    </div>
                </div>

                    <!-- <div class="toggle-option">
                        <div class="toggle-info">
                            <div class="toggle-name">Підтвердження прочитання</div>
                            <div class="toggle-desc">Показувати галочки про прочитання повідомлень</div>
                        </div>
                        <div class="toggle-switch active" data-setting="read-receipts">
                            <div class="toggle-slider"></div>
                        </div>
                    </div> -->
            </form>
        </div>

        <div class="modal-footer">
            <button class="modal-btn modal-btn-secondary" id="resetBtn">Скинути</button>
            <button class="modal-btn modal-btn-secondary" id="closeSettingsBtn2">Скасувати</button>
            <button class="modal-btn modal-btn-primary" id="saveBtn">Зберегти</button>
        </div>
    </div>
</div>