/* menu.css */

:root {
    --bg_1: #1A1C20;
    --bg_1: #1F222C;
    --bg_1: #20222F;
    --bg_1: #20222F;
    --bg_1: #1A1C20;
    --bg_1: #1A1C20;
    --bg_1: #222531;
}

.menu {
    position: relative;
    float: left;
    width: 280px;
    height: calc(100% - 40px);
    background-color: #1A1C20;
    border-radius: 5px;
    border: solid 1px #ffffff1a;
    opacity: .8;
}
